/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*  Apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} // end all elements


/* --------------------------- BODY --------------------------- */
body {
    font-family: $defaultFont;
    font-weight: $lightWeight;
    min-width: 320px;
}


/* --------------------------- HEADER --------------------------- */
#headerWrapper {border-bottom: 1px solid $marooncolor;}
header {
    display: grid;
    grid-template-columns: 50px auto 44px;
    column-gap: $gutter;
    align-items: center; //vertically
    padding: .5rem $gutter;
    span {
        font-size: 1.6rem;
        font-weight: $lightWeight;
        color: $marooncolor;
    }
} // end header


/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */

// create the for loop //
@for $i from 1 through 12 {
    $w: calc($i /12) * 100%;
    .small-#{$i} {flex-basis: $w;}
}

main img {
    width: 100%;
    height: auto;
}

// styling row //
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0;
    padding: 0 8px;

}

// styling column //
.column {
    padding: 0 8px;
    margin: 8px 0;

}

// humburger //
#theNav button::before {
    content: "\2630";
}

#theNav button {
    border: none;
    background: none;
    color: black;
    font-size: 2rem;
    width: 44px;
    height: 44px;
    font-weight: $lightWeight;
    cursor: pointer;
}// end humburger btn //


// the nav style //
#theNav ul {
    position: absolute;
    top: 65px;
    right: $gutter;
    width: 200px;
    background-color: $whitcolor;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid $marooncolor;
    border-radius: 5px;
    box-shadow: 0 0 10px $greycolor;
    text-align: right;
    display: none;

    li a {
        color: $blackcolor;
        display: block;
        padding: .5rem $gutter;
        text-decoration: none;
    }
    a:hover {
        color: $whitcolor;
        background-color: $marooncolor;
    }
    li.active a {
        color: $whitcolor;
        background-color: $marooncolor;
    }
}// end nav //


// css for button open //
#theNAv button.open::before {
    content: "\2715";
}// end open btn //


// nav open //
#theNav ul.open {
    display: block;
}









/* --------------------------- MAIN --------------------------- */
main {
    h1 {
        padding: 1rem $gutter.5rem $gutter;
        font-size: 2rem;
        color: $marooncolor;
        font-weight: 300;
    }
    p {
        padding: .5rem $gutter;
        color: #333;
        line-height: $leading;
    }
    h2 {
        color: $marooncolor;
        font-size: 1.5rem;
        font-weight: 300;

    }
}// end main



/* --------------------------- FOOTER --------------------------- */
#footerWrapper {
    background-color: $marooncolor
} // end footer wrapper

footer {
    font-size: .85rem;
    padding: 1rem $gutter;
    color: $whitcolor;
    text-align: center;
    line-height: $leading;
    a {color: $whitcolor;}
}// end footer