$blackcolor: #16151A;
$lightgreycolor: #C1CBD9;
$greycolor: #6C7073;
$marooncolor: #8C4646;
$lightbluecolor: #4ADBE4;
$whitcolor: #fff;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;


//#16151A blackcolor
//#C1CBD9 lightgreycolor
//#6C7073 greycolor
//#8C4646marooncolor
//#4ADBE4 lightbluecolor